#home .slider { 
    background-image: url('../imgs/slider-main.png'); 
    height: 70vh; 
    background-size: cover; 
    margin-top: var(--height-header); 
    position: relative; 
    z-index: 9;
}  
/* Home Category */ 
.category { 
    margin-bottom: 12px;
}
.category-main { 

}
.category-item__img{
    object-fit: contain;  
    height: 160px;
}
.category-item__heading{
    text-align: center; 
    font-size: 1.4rem; 
    position: relative; 
} 
/* Home Why */ 
.why { 
    background-image: url('../imgs/bg_why.webp'); 
    background-size: cover;
    height: 100vh;   
    position: relative; 
    padding: 0 140px;
}  
.common-heading--why { 
    position: absolute;
} 
.why-content{
    width: 600px;
}
.why-content__text{
    font-size: 1.3rem;
}  
.why-list{ 
    margin-top: 40px;
    list-style: none;
}
.why-item{
    display: flex; 
    margin-bottom: 20px;
}
.why-item__img-wrap{
    margin-right: 12px;
}
.why-item__img{
    width: 52px; 
    height: 52px;
}
.why-item-content{

}
.why-item-content__heading{

}
.why-item-content__text{
    width: 400px; 
    font-size: 1.2rem;
} 
/* Home Memu */ 
.menu-main{

}
.menu-main__btns{
    list-style: none;   
    display: flex;  
    justify-content: center; 
    margin-bottom: 48px;
}
.menu-mains__item{

}
.menu-mains__item-btn{
    padding: 12px; 
    border-radius: 20px; 
    min-width: 124px; 
    margin-right: 20px; 
    border: 1px solid #ddd; 
    outline: none;
} 
.menu-mains__item-btn:hover { 
    background-color: var(--main-color); 
    color: var(--white-color); 
    transition: all linear 0.3s;
} 
.drink-list{

}
.container{

}
.row{

}
.drink-item{
    display: flex; 
    flex-direction: column; 
    align-items: center;
}
.drink-item__img-wrap{
    width: 264px; 
    height: 264px; 
    border: 1px solid #ddd; 
    border-radius: 4px; 
    position: relative; 
    overflow: hidden; 
}   
.drink-item__img-wrap:hover .add-to-cart-part{ 
    animation: addToCartMoveIn 0.5s ease-in-out forwards;
} 
.add-to-cart-part::before { 
    /* content: ""; 
    display: block; 
    position: absolute; 
    background-color: transparent;  
    bottom: 40px;
    height: 220px; 
    width: 100%; */
}
.add-to-cart-part { 
    position: absolute; 
    bottom: 0;  
    left: 0; 
    right: 0; 
    background-color: var(--main-color); 
    padding: 8px 0; 
    border-radius: 4px;  
    transform: translateY(100%); 
    cursor: pointer;
} 
.add-to-cart-part p{ 
    text-align: center;  
    text-transform: capitalize;  
    margin-bottom: 0; 
    color: var(--white-color); 
    font-weight: 600;
} 
@keyframes addToCartMoveIn {
    to { 
        transform: translateY(0);  
        opacity: 1;
    }
}  
.drink-item__img:hover { 
    transform: scale(1.1); 
    transition: all 0.3s linear;
}
.drink-item__img{
    width: 100%;
}
.drink-item__content{
    margin-top: 24px; 
    text-align: center;
}
.drink-item__content-heading{
    font-size: 1.2rem; 
    text-transform: uppercase;
}
.drink-item__content-price{
    text-transform: capitalize; 
    font-weight: 600; 
    font-size: 1rem;
}
.drink-item__content-price-number{
    font-weight: bold;
} 
/* Home Time Open */  
.time-open { 
    margin-top: 80px;
}
.left-time-part{
    background-color: var(--main-color); 
    position: relative; 
    padding: 100px;
} 
.common-heading--time { 
    display: inline-flex; 
    padding: 0;
} 
.common-heading--time .common-heading__text{
    color: var(--white-color) !important;
}
.common-heading__img-wrap{

}
.common-heading__img{

}
.common-heading__text{

}  
.right-time-part{
    background-image: url('../imgs/banner_time_open.webp'); 
    background-repeat: no-repeat;
    background-size: cover;
    width: 486px;
    height: 420px;
    background-position: right;
    padding: 0;
    margin-top: 40px;
}  
.right-time-part-wrap,
.left-time-part-wrap { 
    padding: 0;
} 
.common-heading__img--time-open { 
    filter: brightness(0.5);
}  
.left-time-part { 
    position: relative;
}
.left-time-part__main{
    color: var(--white-color); 
} 
.decor-left-time { 
    position: absolute; 
    bottom: 0; 
    right: 0;
}
.left-time-part__main-text{

}
.left-time-part__calendar{
    list-style: none; 
    padding-left: 0;
} 
.left-time-part__calendar-item { 
    
}
.left-time-part__calendar-item p{
    font-weight: bold; 
    font-size: 1.1rem; 
    margin-bottom: 0;
}
.left-time-part__buton{
    padding: 12px 28px; 
    border: none; 
    outline: none; 
    border-radius: 20px; 
    text-transform: capitalize;  
    color: var(--main-color); 
    font-weight: 700;
} 
/* Home News */ 
.news-main{

}
.container{

}
.row{

}
.col-lg-4{

}
.news-item{

}
.news-item__img-wrap{
    overflow: hidden; 
    border-radius: 8px; 
    margin-bottom: 16px;
}
.news-item__img{
    width: 100%; 
    border-radius: 8px;
} 
.news-item__img:hover { 
    transform: scale(1.05); 
    transition: all 0.3s linear;
}
.news-item__content{

}
.news-item__content-heading{
    font-size: 1.2rem; 
    line-height: 1.4rem;  
    max-height: 2.8rem;
    overflow: hidden; 
    display: -webkit-box; 
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}  
.news-item__content-heading:hover { 
    color: var(--main-color); 
    transition: all 0.3s linear; 
    cursor: pointer;
}
.news-item__content-text{
    font-size: 1rem; 
    line-height: 1.4rem;  
    max-height: 4.2rem;
    overflow: hidden; 
    display: -webkit-box; 
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
} 
/* Home Gallery */ 
.gallery{
    display: flex; 
    margin-top: 80px;
}
.gallery-img-wrap{
    width: 20%;
}
.gallery-img{
    width: 100%;
}

